fastapi>=0.104.0,<0.105.0
uvicorn[standard]>=0.24.0
python-multipart>=0.0.6
jinja2>=3.0.0
requests>=2.31.0
redis>=4.5.0
pmultiqc==0.0.32
multiqc
pandas
pyteomics
sdrf-pipelines
lxml
numpy
pyarrow
scikit-learn