# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        python setup.py install
        python tests/test_proteomicslfq.py
    - name: Test LFQ dataset
      run: |
        wget http://ftp.pride.ebi.ac.uk/pride/data/proteomes/pmultiqc/lfq/lfq.zip
        unzip -d ./lfq lfq.zip
        python setup.py install
        multiqc -f ./lfq --config ./lfq/multiqc_config.yml -o ./results_lfq
    - uses: actions/upload-artifact@v1
      if: always()
      name: Upload results
      with:
        name: results_lfq
        path: ./results_lfq
    - name: Test TMT dataset
      run: |
        wget http://ftp.pride.ebi.ac.uk/pride/data/proteomes/pmultiqc/tmt/tmt.zip
        unzip tmt.zip
        python setup.py install
        multiqc -f . --config  multiqc_config.yml -o ./results_tmt
    - uses: actions/upload-artifact@v1
      if: always()
      name: Upload results
      with:
        name: results_tmt
        path: ./results_tmt
    - name: Test DIA dataset
      run: |
        wget http://ftp.pride.ebi.ac.uk/pride/data/proteomes/pmultiqc/dia/dia.zip
        unzip dia.zip
        python setup.py install
        multiqc -f . --config  multiqc_config.yml -o ./results_dia
    - uses: actions/upload-artifact@v1
      if: always()
      name: Upload results
      with:
        name: results_dia
        path: ./results_dia


