name: Auto update examples

on:
  push:
    branches: [ main ]

jobs:
  update_examples:
    if: "! contains(github.event.head_commit.message, 'Update pmultiqc documentation and examples')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install pytest pytest-cov

      - name: Run update script
        run: |
          python docs/update_examples.py

      - name: Commit and push changes to dev-docs-update
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update pmultiqc documentation and examples"
          branch: dev-docs-update
          create_branch: true
          push_options: '--force'
          commit_user_name: GitHub Actions
          commit_user_email: actions@github.com
          file_pattern: docs/*

      - name: Create Pull Request to main
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Update pmultiqc documentation and examples"
          title: "Auto-update examples"
          body: "This PR updates the docs with the latest example output."
          base: main
          branch: dev-docs-update
          delete-branch: true